// Base: contained within this file are all your resets, variables, mixins, and any utility classes.

//Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

// Font Variables

$font-body: "Poppins", sans-serif;

$color-primary: #131628;
$color-primary-light: #d1d5e8;
$color-secondary: #fd4370;
$color-white: #fafafa;

// Media Queries

$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//Styles

* {
  padding: 0;
  margin: 0;
  font-family: $font-body;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(#292b3e, #131628);
}

.section-heading {
  color: $color-white;
  font-size: 2rem;
  text-decoration: underline 0.15em $color-secondary;
  text-underline-offset: 0.3em;
}

// .heading-small {
//   text-decoration: underline 0.15em $color-secondary;
//   text-underline-offset: 0.3em;
// }