// Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

@use "./base" as *;

// ------------------------------------- Mobile First ------------------------------------
@media screen and (min-width: $breakpoint-mobile) {
  // Nav Bar Layout

  .navigation-desktop {
    display: none;
  }

  .navigation-mobile {
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    color: $color-white;
    height: 10vh;
    position: sticky;
    top: 0;
  }

  .navigation-mobile__logo {
    margin: auto;
  }

  // ------------------------------------------------------------- Hero Layout ------------------------------
  .hero {
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-position: center;

    .hero-splash {
      margin: 10%;
      text-align: left;
      color: $color-white;
      font-size: 4em;

      &__pink {
        color: $color-secondary;
      }
    }
    .button__projects {
      margin: 10%;
      font-size: 2rem;
    }
  }

  // --------------------------------------- Projects Layout --------------------------------------------------
  .projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;

    .projects__heading {
      margin-top: 15%;
    }
  }

  // -------------------------------------------- About Layout ---------------------------------------------------------------
  .about {
    height: 100vh;
    margin: 10%;
    display: flex;
    flex-direction: column;

    .about__heading {
      margin-top: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about__heading-small {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $color-white;
    }

    .about__profile {
      color: $color-primary-light;
      font-size: 0.8rem;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .fab {
      color: $color-primary-light;
      margin-top: 5%;
      padding-right: 5%;
    }
    .profile-picture img {
      display: flex;
      align-items: center;
      width: 85%;
      height: 85%;
      margin: auto;
      margin-top: 3vh;
    }

    .button__contact {
      display: none;
    }
  }

  // --------------------------------------------- Contact Layout ----------------------------------------------------------
  .contact {
    height: 100vh;
    margin: 15%;
    display: flex;
    flex-direction: column;

    .contact__heading {
      margin-top: 15vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form__input {
      margin-top: 5%;
      width: 300px;
      height: 50px;
      background-color: #292b3e;
      border-radius: 5px;
      padding: 5px;
    }

    .form__textarea {
      margin-top: 5%;
      width: 300px;
      height: 150px;
      background-color: #292b3e;
      border-radius: 5px;
      padding: 5px;
    }

    .message-splash {
      display: none;
    }

    .counter {
      color: $color-white;
      margin-top: 2%;
    }
    .button__form {
      margin-top: 15%;
    }

    .social-icons {
      display: inline-flex;
      justify-content: space-between;
      margin: 10%;
      padding: 10%;
    }

    .fab {
      color: $color-primary-light;
    }

    .fas {
      color: $color-primary-light;
    }
  }

  .copyright {
    color: $color-primary-light;
    opacity: 50%;
    margin: auto;
    text-align: center;
  }
}
// ------------------------------------- Tablet ------------------------------------
@media screen and (min-width: $breakpoint-tablet) {
  .navigation-mobile {
    display: none;
  }

  .navigation-desktop {
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    height: 10vh;
    position: sticky;
    top: 0;
  }

  .hero-splash {
  }
}

// ------------------------------------- Desktop ------------------------------------

@media screen and (min-width: $breakpoint-desktop) {
  .navigation-desktop {
    display: flex;
  }

  .hero-splash {
    font-size: 8em;

    margin-left: 15vh;
    margin-top: 28vh;
  }
}
