@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.gradient {
  background-image: linear-gradient(#ff8a00, #e52e71);
}

@media screen and (min-width: 425px) {
  .navigation-desktop {
    display: none;
  }

  .navigation-mobile {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: #131628;
    color: #fafafa;
    position: sticky;
    top: 0;
  }

  .hero {
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-position: center;
  }
  .hero .hero-splash {
    margin-top: 5vh;
    margin-left: 10%;
    text-align: left;
    color: #fafafa;
    font-size: 4em;
  }
  .hero .hero-splash__pink {
    color: #fd4370;
  }
  .hero .button__projects {
    justify-content: center;
    margin: 5vh auto;
  }

  .projects {
    height: 100vh;
  }

  .about {
    height: 100vh;
  }

  .contact {
    height: 100vh;
  }
}
@media screen and (min-width: 1024px) {
  .navigation-mobile {
    display: none;
  }

  .navigation-desktop {
    display: flex;
    height: 10vh;
  }

  .hero-splash {
    font-size: 8em;
    margin-left: 15vh;
    margin-top: 28vh;
  }
}