@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(#292b3e, #131628);
}

.section-heading {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: #fd4370;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.15em;
  color: #fafafa;
}

@media screen and (min-width: 425px) {
  .navigation-desktop {
    display: none;
  }

  .navigation-mobile {
    height: 10vh;
    position: sticky;
    top: 0;
  }

  .navigation-mobile__logo {
    margin: auto;
  }

  .hero {
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-position: center;
  }
  .hero .hero-splash {
    margin: 5vh;
    text-align: left;
    color: #fafafa;
    font-size: 4em;
  }
  .hero .hero-splash__pink {
    color: #fd4370;
  }
  .hero .button__projects {
    margin: 5vh 5vh;
    font-size: 2rem;
  }

  .projects {
    height: 90vh;
  }

  .projects__heading {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
  }

  .about {
    height: 90vh;
  }

  .contact {
    height: 90vh;
  }
}
@media screen and (min-width: 1024px) {
  .navigation-mobile {
    display: none;
  }

  .navigation-desktop {
    display: flex;
    height: 10vh;
  }

  .hero-splash {
    font-size: 8em;
    margin-left: 15vh;
    margin-top: 28vh;
  }
}
.navigation-mobile {
  display: flex;
  justify-content: center;
  background-color: #131628;
  color: #fafafa;
}

.button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: #fd4370;
  color: #fafafa;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}